/* @font-face {
  font-family: 'Brezel Grotesk';
  src: url('../fonts/brezel-grotesk');
  src: url('../fonts/brezel-grotesk?#iefix') format('embedded-opentype'),
    url('../fonts/brezel-grotesk/BrezelGrotesk-Medium.woff2') format('woff2'),
    url('../fonts/brezel-grotesk/BrezelGrotesk-Medium.woff') format('woff'),
    url('../fonts/brezel-grotesk/BrezelGrotesk-Medium.svg#BrezelGrotesk-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: 'Brezel Grotesk';
  src: url('../fonts/brezel-grotesk/BrezelGrotesk-Regular.eot');
  src: url('../fonts/brezel-grotesk/BrezelGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/brezel-grotesk/BrezelGrotesk-Regular.woff2') format('woff2'),
    url('../fonts/brezel-grotesk/BrezelGrotesk-Regular.woff') format('woff'),
    url('../fonts/brezel-grotesk/BrezelGrotesk-Regular.svg#BrezelGrotesk-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  height: 100%;
  color: #333333;
  font-size: 18px;
  font-family: 'Brezel Grotesk';
  font-weight: normal;
  font-style: normal;
}
@media screen and (min-width: 600px) {
  :root {
    font-size: 20px;
  }
}

body {
  min-height: 100%;
  background: rgb(207,75,66);
  background: radial-gradient(circle, rgba(207,75,66,1) 40%, rgba(242,204,92,1) 100%);
}
.site-wrapper {
  position: absolute;
  min-height: 100%;
  width: 100%;
  background: url('../images/oliang-full.jpg');
  background-size: cover;
}

.content {
  position: absolute;
  bottom: 0;
  background-color: white;
}
.content-wrapper {
  padding: 30px;
  min-height: 300px;
}
.text-content {
  z-index: 2;
  position: relative;
  margin-top: 30px;
}

.logo {
  color: black;
  height: 100px;
  width: 100px;
}

.text-large {
  font-size: 1.2rem;
}
.text-small {
  font-size: 0.8rem;
}
.link {
  color: rgb(217, 91, 99);
  font-style: normal;
}
.link:active, .link:hover {
  color: rgb(251, 230, 77);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

@media screen and (min-width: 700px) {
  /* .site-wrapper {
    background: url('../images/oliang-full.png');
  } */

  .content {
    left: 0;
    width: 25%;
    min-width: 370px;
    min-height: 100%;
  }

  .logo {
    height: 150px;
    width: 150px;
  }
}