body {
  background-color: #292724;
  color: #fff;
}

html, body, .container {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}

.flex-item {
  text-align: center;
}

.claim {
  margin: 0 .5em;
}

.logo__image {
  width: auto;
  max-height: 300px;
  height: auto;
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

@media (min-width: 500px) {
  .flex-item {
    max-width: 500px;
    margin: 0 auto;
  }

  .logo {
    /* max-width: 350px; */
  }
}
