:root {
  height: 100%;
  color: #ffffff;
  font-size: 18px;
  font-family: 'Source Serif Pro', serif;
}
@media screen and (min-width: 600px) {
  :root {
    font-size: 20px;
  }
}

body {
  height: 100%;
  background-image: linear-gradient(168deg, #e35d84 70%, #e9863e 70% 80%, #64b9bd 80% 90%, #3e142c 90% 100%);
  background-repeat: no-repeat;
}

._skewed {
  transform: skewY(-12deg);
}

._text-small {
  font-size: 0.7rem;
}

._margin-top-xs {
  margin-top: 30px;
}

h1, .h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  text-transform: uppercase;
}
@media screen and (min-width: 600px) {
  h1, .h1 {
    font-size: 3rem;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.link-default {
  color: inherit;
  text-decoration: none;
}
.link-default:hover, .link-default:focus {
  text-decoration: underline overline;
}

.button-default {
  padding: 3px 8px;
  background: #2d2b29;
  text-decoration: none;
  color: #ffffff;
}
.button-default + .button-default {
  margin-left: 6px;
}
.button-default.-facebook:hover {
  background: #3b5998;
}
.button-default.-instagram:hover {
  background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
}

.site-wrapper > .content {
  margin: auto 5% 50% 5%;
}

.site-wrapper > .content > .logo {
  min-height: 76px;
  max-width: 80px;
}

@media screen and (min-width: 600px) {
  .site-wrapper > .content {
    margin: auto 10px 100px 30px;
    max-width: 500px;
  }
}