@font-face {
    font-family: 'Brezel Grotesk';
    src: url('BrezelGrotesk-Medium.eot');
    src: url('BrezelGrotesk-Medium.eot?#iefix') format('embedded-opentype'),
        url('BrezelGrotesk-Medium.woff2') format('woff2'),
        url('BrezelGrotesk-Medium.woff') format('woff'),
        url('BrezelGrotesk-Medium.svg#BrezelGrotesk-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brezel Grotesk';
    src: url('BrezelGrotesk-Regular.eot');
    src: url('BrezelGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
        url('BrezelGrotesk-Regular.woff2') format('woff2'),
        url('BrezelGrotesk-Regular.woff') format('woff'),
        url('BrezelGrotesk-Regular.svg#BrezelGrotesk-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

